<main>
    <br><br><br>
    <div class="upload">
      <div class="upload-field">
        <div class="icon-field"><span class="fa fa-file-o"></span>
          <p>Drag your files here</p>
        </div>
      </div>
      <div class="upload-status">
        <h1>File Share</h1>
        <div class="file">
            <input type="file"/>
          <div class="file"> 
            <div class="file-status">
              <div class="status-field">
                <div class="status-line" ></div>
              </div>
              <br>
              <select class="choose" name="choose">
                <option value="Public">Public</option>
                <option value="share only with">Share Only With</option>
                <option value="Private">Private</option>
                <option value="choose" selected="selected">Choose</option>
              </select>
            </div>
          </div><br>
              <form><input type="text" placeholder="Record No" id="upload-field"/></form>
              <form><input type="text" placeholder="Description" id="upload-field"/></form>
              <form>
                <input type="text" placeholder="File Name" id="upload-field"/>
                <input class="focus-out" type="button" value="FILE SHARE" id="upload-btn"/>
              </form>
        </div>  
      </div>
    </div>
  </main>
